/* general classes */
.App {
  background-color: #454e66;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  transition: 0.5s all ease-in-out;
}

.color-change {
  background-color: #ED870C;
  transition: 0.5s all ease-in-out;
}

/* flex classes */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.spacebtwn-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.spacebtwn-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* card classes */
.card-container {
  display: flex;
  flex-direction: row;
  background-color: #2E2E2E;
  max-width: 698px;
  width: 100%;
  min-height: 150px;
  padding: 16px;
  box-shadow: 0 3px 10px #292929;
}
.card-svg {
  width: 176px;
  height: 118px;
  float: left;
}

/* info container */
.info-container {
  padding-left: 24px;
  width: 100%;
}
.header {
  color: #9D9D9D;
  line-height: 1.5;
}
.name {
  font-size: 2em;
  color: #E0E0E0;
  font-weight: bold;
  line-height: 1.28;
  padding-bottom: 8px;
}

/* details container */
.details-container {
  border-top: 1px solid #3F3F3F;
  border-bottom: 1px solid #3F3F3F;
  padding: 8px 0;
  width: 100%;
}
.details-column {
  padding-right: 1.5em;
}
.details-numerical {
  font-size: 16px;
  color: #B6B6B6;
  line-height: 1.5;
}
.details-label {
  font-size: 1em;
  font-weight: 700;
  color: #6A6A6A;
}

/* star svg */
.star-svg {
  cursor: pointer;
  stroke: #6A6A6A;
  fill: #6A6A6A;
  transition: 0.3s all ease-in-out;
}
.star-svg:hover {
  stroke: #FAC800;
  fill: #FAC800;
  transition: 0.3s all ease-in-out;
}
.clicked {
  stroke: #FAC800;
  fill: #FAC800;
  animation: pulse 0.5s ease-in;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 510px) {
  .card-container {
    flex-direction: column;
  }
  .card-svg {
    width: 100%;
  }
  .info-container {
    padding: 20px 0 0 0;
  }
}